* {
    margin: 0;
}
.container {
    width: 90%;
    margin: auto;
}
.descript {
    margin: 10px;
    display: flex;
    justify-content: center;
}
h2 {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.localStorage {
    margin: 10px;
    padding: 20px;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
}
.localStorage > button {
    margin: 5px 10px;
}
.sort {
    margin: 10px;
    padding: 10px;
    border: 1px solid gray;
    text-align: center;
}
.sel {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.sel > div {
    margin: 10px;
}
.sel > div > select {
    margin: 15px;
}
.sort-btn > button {
    margin: 10px;
    padding: 5px;
}
.card {
    margin: 10px;
    padding: 5px;
    border: 1px solid gray;
    text-align: center;
}
.image {
    /* width: 150px; */
    height: 150px;
}
.image > img {
    /* width: 100%; */
    height: 100%;
}

@media (min-width: 300px) and (max-width: 449px) {
    .sel > div {
        margin: 10px;
    }
    .sel > div > select {
        margin: 0px;
    }
}





