.title-h {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.title-h button {
    margin: 0px 20px;
}

.title-b {
    display: flex;
    justify-content: center;
}

.title-b button {
    margin: 0px 20px;
}

